*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  background:linear-gradient(to bottom, rgb(219, 168, 74), rgb(145, 68, 68), rgb(84, 121, 84));
 width: 100%;
 min-height: 100vh;
 padding: 60px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
